@tailwind base;
@tailwind components;
@tailwind utilities;

.Card{
	@apply w-48 h-64 scrollbar-hide flex-none shadow-md rounded-lg transform transition-all hover:-translate-y-4 hover:shadow-xl 
}

.CardTitle{
	@apply text-3xl px-8 pt-8 pb-1 font-semibold text-white 
}
@layer utilities {
	.scrollbar::-webkit-scrollbar {
	  background: transparent
  
	}
 }
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
